* {
    /* 수연쓰의 선물 🎁 */
    /* 박스 사이즈를 padding, margin포함해서 계산하겠다 + 폰트 pretendard설정 */
    box-sizing: border-box;
    font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
        'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body {
    /* 수연쓰의 선물 🎁 */
    /* 기본여백 없애겠다 */
    margin: 0px;
    padding: 0px;
}

ul {
    /* 수연쓰의 선물 🎁 */
    /* 앞으로 있을 모든 ul 리스트 앞에 점을 없애겠다 */
    list-style-type: none;
}

ul,
ol {
    /* 수연쓰의 선물 🎁 */
    /* 앞으로 있을 모든 리스트 앞에 점과 여백 없애겠다 */
    margin: 0px;
    padding: 0px;
}

/* ---기본세팅--- */

/* ✅ header ✅ */

header {
    /* 수연쓰의 선물 🎁 */
    /* 헤더가 페이지 상단에 있고, 스크롤을 내려도 상단에 위치하게 해주세요 */
    /* 내부 가로 여백을 20px로 해주세요 */
    /* 헤더의 높이는 40px로 해주세요 */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    /* 바탕 컬러는 본인이 원하는 색상으로 수정해주세요 */
    background-color: #88a5e9;
}

header h1 {
    /* 폰트크기는 16px, 굵기 800 으로 해주세요 */
    font-size: 16px;
    font-weight: 800;
    color: white;
}

header > nav ul {
    /* 헤더 영역 속 nav바 안의 ul 속 콘텐츠들 => 플렉스 속성 */
    display: flex;
    /* x축 오른쪽부터 정렬 */
    justify-content: right;
    /* y축 가운데 정렬 */
    align-items: center;
    /* 사이 간격은 10px로 해주세요~ */
    gap: 10px;
}

header ul > li {
    /* 수연쓰의 선물 🎁 */
    /* 폰트크기는 12px, 굵기 500 으로 해주세요! */
    font-size: 12px;
    font-weight: 500;
}

/* ✅ main ✅ */
main {
    /* main의 자식들을 가운데 정렬시키겠다 */
    display : flex; 
    /* 메인 영역 속 콘텐츠들 => 플렉스 속성(y축 정렬) */
    flex-direction : column;
    align-items : center;
    /* 사이 간격은 50px로 해주세요~ */
    gap : 50px;
    margin : 30px 0;
    /* 위아래만 마진을 30px씩 주세요 */
    
}

section {
    /* 너비는 600px */
    width : 600px;
    /* 플렉스 속성(y축 정렬) */
    display : flex;
    flex-direction: column;
    align-items: center;
    /* 위쪽 마진만 20px 주세요 */
    margin : 20px;
}

.section-title {
    /* 안쪽 여백은 위아래 왼쪽 오른쪽 모두 10px씩 */
    /* 모서리 둥글게 10px씩! */
    /* 배경색과 폰트색은 원하는 색상으로 지정해주세요 */
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    padding : 10px;
    border-radius: 10px;
    background-color: rgb(127, 199, 241);
    color : white;
}

/* 💖 basicInfo 💖 기본정보 */

#basicInfo article {
    /* 가운데정렬 */
    display : flex;
    justify-content: center;
    align-items: center;
    /* 프로필이미지와 정보들 사이의 간격 30px */
    gap : 30px;
}

#basicInfo-profileImg {
    /* 너비는 150px */
    width: 150px;
    /* 높이는 150px */
    height: 150px;
    /* 모서리 둥글게 20px씩! */
    object-fit: cover; /* 수연쓰의 선물 🎁, 이미지를 박스안에 쏘옥 넣어줘요~ */
}

#basicInfo ul {
    /* y축 정렬 */
    display: flex;
    flex-direction: column;
}

.basicInfo-question {
    /* 수연쓰의 선물 🎁 */
    /* 폰트크기는 13px, 굵기 500 으로 해주세요! */
    font-size: 13px;
    font-weight: 500;
    /* 요소 뒤에 ':' 붙여주기 */
    &::after {
        content: ' : ';
    }
}

.basicInfo-answer {
    /* 폰트크기는 12px, 굵기 600 으로 해주세요! */
    font-size : 12px;
    font-weight : 600;
}

/* 💖 balanceGame 💖 밸런스_게임 */

#balanceGame {
    /* 기본 축 y */
    display: flex;
    flex-direction: column;
    /* x축 가운데 정렬 */
    align-items: center;
}

#balanceGame ol {
    /* y축 정렬 */
    display: flex;
    flex-direction: column;
    /* 사이 여백은 30px로 줘요! */
    gap:30px;

}

#balanceGame ol > li {
    /* 폰트크기는 14px, 굵기 600 으로 해주세요! */
    font-size:14px;
    font-weight : 600;
}

.balanceGame-answer {
    /* 폰트크기는 14px, 굵기 600 으로 해주세요! */
    font-size:14px;
    font-weight : 600;
    /* 배경색과 폰트색은 원하는 색상으로 지정해주세요 */
    background-color: rgb(121, 207, 238);
    color : white;
    /* 모서리 둥글게 20px씩 */
    border-radius:20px;
    /* 박스 안쪽 여백은 4px씩 */
    padding : 4px;
}

/* 💖 favoriteFood 💖 favoriteFood */

/* favoriteFood */
#favoriteFood ol {
    display: flex;
    justify-content: center; /* y축 가운데 정렬 */
    gap: 30px; /* 사이 여백은 30px로 줘요! */
}

#favoriteFood ol > li {
    font-size: 14px;
    font-weight: 600;
}

/* wantToDo */
#wantToDo {
    display: flex;
    justify-content: center; /* x축 가운데 정렬 */
}

#wantToDo ul {
    display: flex;
    flex-direction: column; /* y축 정렬 */
    gap: 30px; /* 사이 여백은 30px로 줘요! */
}

#wantToDo ul > li {
    font-size: 14px;
    font-weight: 600;
}

/* tmi */
#tmi {
    display: flex;
    justify-content: center; /* x축 가운데 정렬 */
}

#tmi ol {
    display: flex;
    flex-direction: column; /* y축 정렬 */
    gap: 30px; /* 사이 여백은 30px로 줘요! */
}

#tmi ol > li {
    font-size: 14px;
    font-weight: 600;
}

/* letter-pre */
#letter-pre {
    width: 100%;
    height: auto;
    border: 1px solid red; /* 가장자리 외곽선은 1px solid, 색상은 본인 마음대로! */
    border-radius: 10px; /* 모서리 둥글게 10px씩 */
    padding: 10px; /* 박스 안쪽 여백은 10px씩 */
}

/* footer */
footer {
    width: 100%;
    background-color: #f0f0f0; /* 배경색 본인 마음대로! */
    padding: 20px; /* 박스 안쪽 여백은 20px씩 */
}

footer ul > li {
    font-size: 10px;
    color: #333; /* 폰트 색상도 지정해주세요 */
}

